# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*.log

# Local files
.env
.env.*
*.local

# Misc
coverage/
dist/
build/