# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Terraform
kubernetes/.terraform/
kubernetes/.terraform.lock.hcl
kubernetes/*.tfstate
kubernetes/*.tfstate.*
kubernetes/crash.log
kubernetes/override.tf
kubernetes/override.tf.json
kubernetes/*_override.tf
kubernetes/*_override.tf.json

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*.log

# Local files
.env
.env.*
*.local

# Misc
coverage/
dist/
build/