# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Terraform
infra/kubernetes/.terraform/
infra/kubernetes/.terraform.lock.hcl
infra/kubernetes/*.tfstate
infra/kubernetes/*.tfstate.*
infra/kubernetes/crash.log
infra/kubernetes/override.tf
infra/kubernetes/override.tf.json
infra/kubernetes/*_override.tf
infra/kubernetes/*_override.tf.json

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*.log

# Local files
.env
.env.*
*.local

# Misc
coverage/
dist/
build/